* {
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: rgb(150, 150, 150);
}

.main{
    padding: 0 25px;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-1{
    margin-top: 25px;
}
.col-lg-1 ul{
    height: 600px;
}

[class*=col-md]{
    border: 1px gainsboro solid;
    text-align: center;
}

.col-md-1{
    height: 9%;
    font-size: 20px;
    line-height: 260%;
}

.col-md-2{
    height: 18%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
} 

.col-md-3{
    height: 27%;
    font-size: 45px;
    position: relative;
    line-height: 300%;
}

.col-md-3 span{
    font-size: 15px;
    position: absolute;
    top:30px;
    left: calc(50% - 30px);
    color: rgb(150, 150, 150);
}

.button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: 5px solid;
    border-radius:30px;
    text-decoration: none;
    padding-top: 10px;
    color: white;
}

.start>.col-md-2, .start>.col-md-3{
    color: green;
}

.start .button{
    background-color: green;
    border-color: green;

}

.good>.col-md-2, .good>.col-md-3{
    color: rgb(241, 198, 3);
}

.good .button{
    background-color: rgb(241, 198, 3);
    border-color: rgb(241, 198, 3);
}

.ultima>.col-md-2, .ultima>.col-md-3{
    color: red;
}

.ultima .button{
    background-color: red;
    border-color: red;
}

.vip>.col-md-2, .vip>.col-md-3{
    color: blue;
}

.vip .button{
    background-color: blue;
    border-color: blue;
}

@media(min-width:768px){
    .row::after {
        content: "";
        display: block;
        clear: both;
    }

    .col-lg-1{
        width: calc(100% / 2 );
        display: block;
        float: left;
        padding: 10px;
    }
}

@media(min-width:1024px){
    .col-lg-1{
        width: 25%;
    }
}